@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
header {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: #fff;
    text-align: center;
}

header h1 {
    font-weight: 500;
    font-size: 1.75rem;
    text-transform: uppercase;
    margin: 10px;
    border-radius: 20px;
    padding: 20px 10px;
    text-shadow:3px 4px 2px #333333;
}

header span {
    font-weight: 700;
    font-size: 4rem;
    display: block;
}

.description {
    position: absolute;
    bottom: 2%;
    width: 50%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    opacity: 0.7;
    padding: 1.5rem;
}

.description p{
    text-align: justify;
    max-width: 42rem;
    margin-inline: auto;
    line-height: 1.5;
}

.copyright a{
    color: #fff;
    text-underline-offset: 1.8px;
}

.search {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -100%);
    
}

.search input {
    padding: 5px 30px;
    outline: none;
    border-radius: 10px;
    border: #fff;
    box-shadow: 3px 4px 2px #333333;
}

.search button {
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: rgb(88, 88, 207);
    color: #fff;
    font-size: 15px;
    box-shadow: 1px 2px 1px #413e3e;
}

@media screen and (max-width: 1200px) {
    .description{
        position: absolute;
        width: 91vw;
        bottom: 0;
        border-radius: 20px 20px 0 0;
        margin: auto;
        padding: 0.6rem 1.5rem;
    }

    .search input {
        margin-left: 8%;
        padding: 5px 5px;
        outline: none;
        border-radius: 10px;
        border: #fff;
        box-shadow: 3px 4px 2px #333333;
    }
    
    .search button {
        padding: 10px;
        margin-top: 20px;
        margin-left: 32%;
        border-radius: 1px;
        border: none;
        cursor: pointer;
        background-color: rgb(88, 88, 207);
        color: #fff;
        font-size: 15px;
        box-shadow: 1px 2px 1px #413e3e;
    }
    
}
